<h2><strong> About Finlatics CASE PROJECT </strong></h2>

<h5> <u>About the Dataset</u> </h5>
A collection of YouTube giants, this dataset offers a perfect avenue to analyze and gain valuable insights from the luminaries of the platform. With comprehensive details on top creators' subscriber counts, video views, upload frequency, country of origin, earnings, and more, this treasure trove of information is a must-explore for aspiring content creators, data enthusiasts, and anyone intrigued by the ever-evolving online content landscape. Immerse yourself in the world of YouTube success and unlock a wealth of knowledge with this extraordinary dataset.

<h5><u>Key Features</u>:-----><h5>
<ul>
<li><strong>rank:</strong> Position of the YouTube channel based on the number of subscribers</li>

<li><strong>Youtuber:</strong> Name of the YouTube channel</li>

<li><strong>subscribers:</strong> Number of subscribers to the channel</li>

<li><strong>video views:</strong> Total views across all videos on the channel4</li>

<li><strong>category:</strong> Category or niche of the channel</li>

<li><strong>Title:</strong> Title of the YouTube channel</li>

<li><strong>uploads:</strong> Total number of videos uploaded on the channel</li>

<li><strong>Country:</strong> Country where the YouTube channel originates</li>

<li><strong>Abbreviation:</strong> Abbreviation of the country</li>

<li><strong>channel_type:</strong> Type of the YouTube channel</li>

<li><strong>video_views_rank:</strong> Ranking of the channel based on total video views</li>

<li><strong>country_rank:</strong> Ranking of the channel based on the number of subscribers within its country

<li><strong>channel_type_rank:</strong> Ranking of the channel based on its type video_views_for_the_last_30_days: Total video views in the last 30 days

<li><strong>lowest_monthly_earnings:</strong> Lowest estimated monthly earnings from the channel

<li><strong>highest_monthly_earnings:</strong> Highest estimated monthly earnings from the channel

<li><strong>lowest_yearly_earnings:</strong> Lowest estimated yearly earnings from the channel

<li><strong>highest_yearly_earnings:</strong> Highest estimated yearly earnings from the channel

<li><strong>subscribers_for_last_30_days:</strong> Number of new subscribers gained in the last 30 days

<li><strong>created_year:</strong> Year when the YouTube channel was created

<li><strong>created_month:</strong> Month when the YouTube channel was created

<li><strong>created_date:</strong> Exact date of the YouTube channel's creation

<li><strong>Gross tertiary education enrollment (%):</strong> Percentage of the population enrolled in tertiary education in the country

<li><strong>Population:</strong> Total population of the country

<li><strong>Unemployment rate:</strong> Unemployment rate in the country

<li><strong>Urban_population:</strong> Percentage of the population living in urban areas

<li><strong>Latitude:</strong> Latitude coordinate of the country's location

<li><strong>Longitude:</strong> Longitude coordinate of the country's location

</ul>
<br>

<h2><strong>Analysis to do :</strong></h2>

NOTE: Preprocess the dataset prior to analysis for accurate insights

<ol>
<li>What are the top 10 YouTube channels based on the number of subscribers?

<li>Which category has the highest average number of subscribers?

<li>How many videos, on average, are uploaded by YouTube channels in each category?

<li>What are the top 5 countries with the highest number of YouTube channels?

<li>What is the distribution of channel types across different categories?

<li>Is there a correlation between the number of subscribers and total video views for YouTube channels?

<li>How do the monthly earnings vary throughout different categories?

<li>What is the overall trend in subscribers gained in the last 30 days across all channels?

<li>Are there any outliers in terms of yearly earnings from YouTube channels?

<li>What is the distribution of channel creation dates? Is there any trend over time?

<li>Is there a relationship between gross tertiary education enrollment and the number of YouTube channels in a country?

<li>How does the unemployment rate vary among the top 10 countries with the highest number of YouTube channels?

<li>What is the average urban population percentage in countries with YouTube channels?

<li>Are there any patterns in the distribution of YouTube channels based on latitude and longitude coordinates?

<li>What is the correlation between the number of subscribers and the population of a country?

<li>How do the top 10 countries with the highest number of YouTube channels compare in terms of their total population?

<li>Is there a correlation between the number of subscribers gained in the last 30 days and the unemployment rate in a country?

<li>How does the distribution of video views for the last 30 days vary across different channel types?

<li>Are there any seasonal trends in the number of videos uploaded by YouTube channels?

<li>What is the average number of subscribers gained per month since the creation of YouTube channels till now?

</ol>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [7]:
# Define the path to the dataset
data_path = os.path.join(os.getcwd(),"DsResearch","Media and Technology","Global YouTube Statistics.csv")

# Print the constructed path
print(f"Constructed file path: {data_path}")

# Check if the file exists
if os.path.exists(data_path):
    print("File exists. Proceeding to load the dataset.")
    try:
        #Load the dataset
        df= pd.read_csv(data_path)
        print("Dataset loaded successfully.")
        
    except Exception as e:
        print(f"An error occurred while loading the dataset: {e}")
        
    try:
        print("trying to load dataset wth different encoding")
        df= pd.read_csv(data_path, encoding='ISO-8859-1') 
        print("sucessfully loaded dataset ")
        
    except Exception as e:
        print(f"An error occurred while loading the dataset: {e}")
else:
    print(f"The file {data_path} does not exist. Please check the path.")


df.head(20)

Constructed file path: d:\___________________________\_____PROJECTS\__INTERNSHIPS__\Finlatics\Finlatics_Data_Science_program\DsResearch\Media and Technology\Global YouTube Statistics.csv
File exists. Proceeding to load the dataset.
An error occurred while loading the dataset: 'utf-8' codec can't decode byte 0xfd in position 1655: invalid start byte
trying to load dataset wth different encoding
sucessfully loaded dataset

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country of origin,Country,Abbreviation,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000.0,2.280000e+11,Music,T-Series,20082,India,india,IN,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000.0,0.000000e+00,Film & Animation,youtubemovies,1,United States,United States,US,...,NaN,2006.0,NaN,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000.0,2.836884e+10,Entertainment,MrBeast,741,United States,United States,US,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000.0,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,United States,US,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000.0,1.480000e+11,Shows,SET India,116536,India,India,IN,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000.0,0.000000e+00,NaN,Music,0,NaN,NaN,NaN,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000.0,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,United States,US,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000.0,2.905804e+10,Gaming,PewDiePie,4716,Japan,Japan,JP,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000.0,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,Russia,RU,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000.0,7.718017e+10,Entertainment,Vlad and Niki,574,United States,United States,US,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
10,11,Zee Music Company,96700000.0,5.785629e+10,Music,Zee Music Company,8548,India,India,IN,...,1100000.0,2014.0,Mar,12.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
11,12,WWE,96000000.0,7.742847e+10,Sports,WWE,70127,United States,United States,US,...,600000.0,2007.0,May,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
12,13,Gaming,93600000.0,0.000000e+00,NaN,Gaming,0,NaN,NaN,NaN,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
13,14,BLACKPINK,89800000.0,3.214460e+10,NaN,BLACKPINK,543,South Korea,South Korea,KR,...,700000.0,2016.0,Jun,29.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
14,15,Goldmines,86900000.0,2.411823e+10,NaN,goldmines,1,NaN,NaN,NaN,...,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Sony SAB,83000000.0,1.010000e+11,Shows,Sony SAB,71270,India,India,IN,...,1100000.0,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
16,17,5-Minute Crafts,80100000.0,2.623679e+10,Howto & Style,5-Minute Crafts 2.0,1,United Kingdom,United Kingdom,GB,...,NaN,2020.0,Jul,27.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
17,18,BANGTANTV,75600000.0,2.082699e+10,Music,BANGTANTV,2281,South Korea,South Korea,KR,...,400000.0,2012.0,Dec,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
18,19,Sports,75000000.0,0.000000e+00,NaN,sports,3,United States,United States,US,...,NaN,2006.0,Jan,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
19,20,Justin Bieber,71600000.0,3.060812e+10,Music,Justin Bieber,249,Canada,Canada,CA,...,100000.0,2007.0,Jan,15.0,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771